<head>
    <header> Login </header>
</head>
<div class = "container">
    <h1>Login</h1>    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" />
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors f['name'].errors['required']">Name is required.</div>
            </div>
        </div>
    </form>
</div>