<div class="container mt-3">
    <a href="#" routerLink="/users/index" class="btn btn-primary">&lt;&lt; Back</a>
    <div style="-ms-flex-align: center;">
        <h1> Welcome {{user.name}}</h1>
        <p>Username: <strong>{{user.username}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
    </div>
    <h3>Plans</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Limit</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan of plans">
                <td>{{plan.id}}</td>
                <td>{{plan.name}}</td>
                <td>{{plan.limit}}</td>
                <td>{{plan.price}}</td>
                <td>{{plan.description}}</td>
            </tr>  
        </tbody>
    </table>
    <h3>Devices</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices">
                <td>{{device.name}}</td>
                <td>{{device.phoneNumber}}</td>
            </tr>  
        </tbody>
    </table>
</div>
  