<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" class="img-fluid slider-image" alt="First Slide">
    </div>
    <div class="carousel-caption">
      <h3 class="text-dark">Welcome!</h3>
      <p>Don't have an account with us?</p>
      <button type="submit">Register Today</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" class="img-fluid slider-image" alt="Second Slide">
    </div>
    <div class="carousel-caption">
      <p>Don't have an account with us?</p>
      <button type="submit">Register Today</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" class="img-fluid slider-image" alt="Third Slide">
    </div>
    <div class="carousel-caption">
      <p>Don't have an account with us?</p>
      <button type="submit">Register Today</button>
    </div>
  </ng-template>
</ngb-carousel>