<div>
  <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container container-fluid d-flex align-items-center">
      <a href="#" class="navbar-brand">
        <h1 class="d-flex align-items-center fs-3 text-white mb-0">TeleCom</h1>
      </a>
    </div>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
      <div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav me-auto .bg-transparent">
            <li class="nav-item active">              
              <a (onclick)="login()" class="nav-link text-white">Login</a>
            </li>
            <li class="nav-item">
              <a routerLink="users/sign-up" class="nav-link text-white">Register</a>
            </li>
            <li class="nav-item">
              <a routerLink="{{logout()}}" class="nav-link text-white">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<!-- <app-index [currentUserId]="currentUserId"></app-index> -->
<!-- <div class="container mt-3">
    <router-outlet></router-outlet>
  </div> -->
<router-outlet></router-outlet>