<!-- https://ng-bootstrap.github.io/#/components/carousel/examples -->
<!-- https://ng-bootstrap.github.io/#/home -->
<!-- https://www.pexels.com/ -->

<div *ngIf="isLoggedIn()">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" class="img-fluid" alt="First Slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome!</h3>
        <p>Visit Your Information Page!</p>
        <a href="#" routerLink="/users/{{currentUserId}}" *ngIf="showCondition" class="btn btn-primary">User Page</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" class="img-fluid" alt="Second Slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome!</h3>
        <p>Visit Your Information Page!</p>
        <a href="#" routerLink="/users/{{currentUserId}}" *ngIf="showCondition" class="btn btn-primary">User Page</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" class="img-fluid" alt="Third Slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome!</h3>
        <p>Visit Your Information Page!</p>
        <a href="#" routerLink="/users/{{currentUserId}}" *ngIf="showCondition" class="btn btn-primary">User Page</a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div *ngIf="!isLoggedIn()">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" class="img-fluid" alt="First Slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome!</h3>
        <p>Please Login to your account</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" class="img-fluid" alt="Second Slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome!</h3>
        <p>Please Login to your account</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" class="img-fluid" alt="Third Slide">
      </div>
      <div class="carousel-caption">
        <h3>Welcome!</h3>
        <p>Please Login to your account</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>