<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" class="img-fluid" alt="First Slide">
    </div>
    <div class="carousel-caption">
      <h3>Welcome!</h3>
      <p>Don't have an account with us?</p>
      <a href="#" (routerLink)="routeToNextPage(currentUserId)" *ngIf="loggedIn" class="btn btn-primary">&lt;&lt; User Page</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" class="img-fluid" alt="Second Slide">
    </div>
    <div class="carousel-caption">
      <p>Don't have an account with us?</p>
      <a href="#" (routerLink)="routeToNextPage(currentUserId)" *ngIf="loggedIn" class="btn btn-primary">&lt;&lt; User Page</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" class="img-fluid" alt="Third Slide">
    </div>
    <div class="carousel-caption">
      <p>Don't have an account with us?</p>
      <a href="#" (routerLink)="routeToNextPage(currentUserId)" *ngIf="loggedIn" class="btn btn-primary">&lt;&lt; User Page</a>
    </div>
    <!-- <app-child (messageEvent)="receiveMessage($event)"></app-child> -->
  </ng-template>
</ngb-carousel>